#!/bin/bash

## NOTE: This script should not be run automatically!
##
## It contains ideas (!) on how to restore immich backups from NAS using Restic

set -euo pipefail

export RESTIC_PASSWORD_FILE="/home/{{ ansible_user }}/.restic/restic-password"
export RESTIC_REPOSITORY="{{ restic_immich_destination_repository }}"
export RESTIC_HOST="{{ inventory_hostname }}"

# Define path to restic binary explicitly
RESTIC="/usr/local/bin/restic"

# Function to log messages with timestamps
log() {
  echo "[$(date --iso-8601=seconds)] $*"
}

## Check Restic ----------------------------------
log "Running restic consistency check"
"$RESTIC" check --read-data

## Restic restore ----------------------------------
readonly TMP_RESTORE_FOLDER="/home/{{ ansible_user }}/tmp/restore-target"
mkdir -p "${TMP_RESTORE_FOLDER}"

## see https://www.shellcheck.net/wiki/SC2115
rm -rf "${TMP_RESTORE_FOLDER:?}"/*

restic \
  --repo sftp:"$REPO" \
  --password-file "${RESTIC_PASSWORD_FILE}" \
  restore \
  latest \
  --verify \
  --target "${TMP_RESTORE_FOLDER}"
