USERMAP_UID={{ ansible_user_uid.stdout }}
USERMAP_GID={{ ansible_user_gid.stdout }}

PAPERLESS_TIME_ZONE=Europe/Berlin
PAPERLESS_OCR_LANGUAGE=deu

# NOTE: Setting up a clean instance with preconfigured admin user doesn't work as expexted.
# When the following values are not set the user will be asked to set these values during
# the initial login.
#
# PAPERLESS_ADMIN_USER=superuser
# PAPERLESS_ADMIN_PASSWORD="{{ paperless_admin_password }}"

# TODO: Double-check if this is still needed after migration
PAPERLESS_OCR_USER_ARGS={"invalidate_digital_signatures": true}

# Custom port for redis
# PAPERLESS_REDIS=redis://localhost:6380
# NOTE: Must match the redis podman container name (`paperless-broker`)
PAPERLESS_REDIS=redis://paperless-broker:6379
