watch:
  workers: 10
  schedule: "0 */6 * * *"
  firstCheckNotif: false

notif:
  pushover:
    token: {{ diun_pushover_token }}
    recipient: {{ diun_pushover_recipient }}
    templateTitle: "{{ '{{ .Entry.Image }}' }} released"
    templateBody: |
      Docker tag {{ '{{ .Entry.Image }}' }} which you subscribed to through {{ '{{ .Entry.Provider }}' }} provider has been released.

providers:
  file:
    filename: "diun-provider.yml"
